/* GENERAL */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Color styles */
:root{
    --bg-color: #FFFFFF;
    --bg-jumbotron: #B4D0E7;
    --bg-buttons: #0061FF;
    --text-dark: #000000;
    --border-boxes: #E8E8EA;
    --bg-box-lightgreen: #A2D39B;
    --bg-box-porpora: #61082B;
    --bg-box-cyan: #0093CE;
    --bg-box-fire: #FF1C1C;
    --bg-box-red: #D5001F;
    --bg-box-navy: #0D2481;
    --bg-box-senape: #FFD830;
}


.debug{
    outline: 1px solid black;
}

ul{
    list-style: none;
}

.w-1200{
    max-width: 1200px;
    margin: 0 auto;
}

.w-1000{
    max-width: 1000px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
}

.j-content-sb{
    justify-content: space-between;
}

.j-content-e{
    justify-content: flex-end;
}

.a-self-end{
    align-self: flex-end;
}

.a-items-center{
    align-items: center;
}

.padding-10{
    padding: 10px;
}

.padding-5{
    padding: 5px;
}

.padding-h2{
    padding: 15px 0;
}

.padding-top-bottom{
    padding: 10px 0;
}

.padding-ul{
    padding: 15px 0
}

.padding-space-li{
    padding-bottom: 15px;
}

.button-b{
    background-color: var(--bg-buttons);
    color: var(--bg-color);
    border: none;
}

.button-w{
    background-color: var(--bg-buttons);
    color: var(--bg-color);
}

.button-default{
    border: 1px solid var(--text-dark);
}

.d-border{
    outline: 1px solid var(--border-boxes);
}

/* END GENERAL */




/* HEADER */



/* NAV BAR */
.nav-bar{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 1000;
}

nav li{
    padding:5px 20px
}

nav{
    border-bottom: 2px solid var(--border-boxes);
    background-color: var(--bg-color);
}

/* END NAV BAR */

/* JUMBO SECTION */

.container{
    padding-top: 100px;

}

.jumbo{
    background-color: var(--bg-jumbotron);
    margin-bottom: 120px;
}

header div img{
    max-width: 100%;
    
}

.info-container{
    position: relative;
}

.jumbo-img{
    display: block;
    max-width: 70%;
    position: relative;
    bottom: -100px;
    right: 0;
}

.info{
    max-width: calc(100% / 4);
    padding-top: 100px;
}

.arrow-down{
    border: transparent;
    background-color: transparent;
    font-size: 2.5rem;
}

.main-title{
    font-size: 2.5rem;
}


/* END JUMBO SECTION */



/* END HEADER */

/* MAIN */

/* billing section */
main h2{
    font-size: 2.5rem;
}
.checkbox{
    padding-right: 30px;
    padding-bottom: 25px;
}
/* end billing section */

/* promo box */
.box{
    width: calc(100% / 3 - 10px);
}

.box-title{
    text-align: center;
}

.box-infocontent{
    text-align: start;
    padding: 15px 0 15px 15px;
}

main h4{
    font-size: 1.2rem;
}

/* end promo box */




/* END MAIN */


/* FOOTER */

footer{
    background-color: var(--text-dark);
    color: var(--bg-color);
}

footer div>ul>li{
    width: calc(100% / 5);
}

footer div>ul>li>ul>li{
    padding: 15px 0px;
}

footer h4{
    font-weight: bold;
    font-size: 1.2rem;
    padding: 50px 0 25px 0;
}

hr{
    max-width: 15%;
}

.socials{
    padding: 25px 0 25px 0;
}

footer div i{
    font-size: 1.5rem;
    padding-right: 10px;
}

footer div label i{
    font-size: 1.2rem;
    color: var(--bg-color);
}
/* END FOOTER */