/* GENERAL */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

/* Color styles */
:root{
    --bg-color: #FFFFFF;
    --bg-jumbotron: #B4D0E7;
    --bg-buttons: #0061FF;
    --text-dark: #000000;
    --border-boxes: #E8E8EA;
    --bg-box-lightgreen: #A2D39B;
    --bg-box-porpora: #61082B;
    --bg-box-cyan: #0093CE;
    --bg-box-fire: #FF1C1C;
    --bg-box-red: #D5001F;
    --bg-box-navy: #0D2481;
    --bg-box-senape: #FFD830;
}

/* bonus class */
a, details, li:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: var(--border-boxes);
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background-color: var(--text-dark);
}

/* end bonus class */

.debu{
    outline: 1px solid black;
}

ul{
    list-style: none;
}

.w-1200{
    max-width: 1200px;
    margin: 0 auto;
}

.w-1000{
    max-width: 1000px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
}

.d-flex-n{
    display: flex;
    flex-flow: row nowrap;
}

.d-flex-column{
    display: flex;
    flex-flow: column nowrap;
}

.j-content-sb{
    justify-content: space-between;
}

.j-content-c{
    justify-content: center;
}

.j-content-e{
    justify-content: flex-end;
}

.a-self-end{
    align-self: flex-end;
}

.a-items-center{
    align-items: center;
}

.padding-10{
    padding: 10px;
}

.padding-5{
    padding: 5px;
}

.padding-h2{
    padding: 15px 0;
}

.padding-top-bottom{
    padding: 10px 0;
}

.padding-ul{
    padding: 15px 0;
}

.padding-space-li{
    padding-bottom: 15px;
}

.padding-infobox{
    padding: 50px 0 0 25px;
}

.padding-users{
    padding: 100px 0;
}

.padding-central{
    padding: 25px 0;
}
.padding-free{
    padding: 100px 10px;
}

.padding-faqs{
    padding: 100px 10px;
}

section div ul span{
    padding-left: 5px;
}

.margin-t-b{
    margin: 70px 0 70px 0;
}

.button-b{
    background-color: var(--bg-buttons);
    color: var(--bg-color);
    border: none;
}

.button-w{
    background-color: var(--bg-buttons);
    color: var(--bg-color);
}

.button-default{
    border: 1px solid var(--text-dark);
    background-color: var(--bg-color);
}

.button-size{
    padding: 10px 40px 10px 40px;
}

.d-border{
    outline: 1px solid var(--border-boxes);
}

.d-border-faqs{
    border-top: 2px solid var(--border-boxes);
}
.d-border-faqs-end{
    border-top: 2px solid var(--border-boxes);
    border-bottom: 2px solid var(--border-boxes);
}

.format-exp{
    max-width: calc(100% / 3);
    padding-top: 50px;
    padding-bottom: 50px;
}

.share, .tools, .meeting, .share-doc{
    padding-right: 20px;
}

/* END GENERAL */




/* HEADER */



/* NAV BAR */
.nav-bar{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 1000;
}

nav li{
    padding:5px 20px
}

nav{
    border-bottom: 2px solid var(--border-boxes);
    background-color: var(--bg-color);
}

/* END NAV BAR */

/* JUMBO SECTION */

.container{
    padding-top: 100px;

}

.jumbo{
    background-color: var(--bg-jumbotron);
    margin-bottom: 120px;
}

header div img{
    max-width: 100%;
    
}

.info-container{
    position: relative;
}

.jumbo-img{
    display: block;
    max-width: 70%;
    position: relative;
    bottom: -100px;
    right: 0;
}

.info{
    max-width: calc(100% / 4);
    padding-top: 100px;
}

.arrow-down{
    border: transparent;
    background-color: transparent;
    font-size: 2.5rem;
}

.main-title{
    font-size: 2.5rem;
}


/* END JUMBO SECTION */



/* END HEADER */

/* MAIN */

/* billing section */
main h2{
    font-size: 2.5rem;
}

main h3{
    font-size: 1.5rem;
}

.checkbox{
    padding-right: 30px;
    padding-bottom: 25px;
}
/* end billing section */

/* promo box */
.box{
    width: calc(100% / 3 - 50px);
}

.box-title{
    text-align: center;
}

.box-infocontent{
    text-align: start;
    padding: 15px 0 15px 15px;
}

.box-infocontent-enterprise{
    text-align: start;
    padding: 15px 15px 15px 15px;
}


main h4{
    font-size: 1.2rem;
}

.info-enterprise-personal{
    display: inline-block;
    max-width: 65%;
}

.fa-check{
    color: var(--bg-buttons);
}

/* end promo box */


/* partner */

.picture{
    max-width: 60%;
}

.picture>img{
    width: 100%;
}

.partner-info-box{
    max-width: calc(100% / 3);
}

/*end partner*/

/* feature */

.feature-img{
    max-width: 70%;
    max-height: 100%;
    display: block;
}

section div img{
    max-width: 100% ;
}

section h4{
    font-size: 1.3rem;
}

.position-b{
    align-items: flex-end;
    padding-top: 20px;
}
/* end feature */

/* users */
.users-title{
    padding: 60px 0;
}

.main-box{
    width: calc(100vw  / 3);
    height: calc(100vw  / 3);
}
.boxes-layout{
    width: calc(100% / 2);
    height: calc(100% / 2);
    position: relative;
}

.boxes-layout>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(5);
}

.info-company{
    padding: 48px;
    overflow-y:auto;
}
.info-company>img{
    max-width: 40%;
}

.loghi{
    width: 70%;
}

.company-designit{
    background-color: var(--bg-box-lightgreen);
}

.asu{
    background-color: var(--bg-box-porpora);
}

.florida{
    background-color: var(--bg-box-cyan);
}

.topps{
    background-color: var(--bg-box-fire);
}

.w-bicycle{
    background-color: var(--bg-box-red);
}

.hearst{
    background-color: var(--bg-jumbotron);
}

.l-planet{
    background-color: var(--bg-box-navy);
}

.c-channel{
    background-color: var(--bg-box-senape);
}
/* end users */


/* free trial */

.free{
    background-color: var(--bg-jumbotron);
}

.free-trial h2{
    font-size: 2.3rem;
    color: var(--bg-box-porpora);
}

.button-contaier{
    padding-top: 10px;
}


/* end free trial */

/* faqs */
summary{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}

details p{
    padding: 10px 0 10px 0;
}

.faq-title{
    padding: 0 0 50px 0;
}

/* end faqs */


/* END MAIN */


/* FOOTER */

footer{
    background-color: var(--text-dark);
    color: var(--bg-color);
}

footer div>ul>li{
    width: calc(100% / 5);
}

footer div>ul>li>ul>li{
    padding: 12px 0px;
}

footer h4{
    font-weight: bold;
    font-size: 1.2rem;
    padding: 50px 0 25px 0;
}

hr{
    max-width: 15%;
}

.socials{
    padding: 25px 0 25px 0;
}

footer div i{
    font-size: 1.5rem;
    padding-right: 10px;
}

footer div label i{
    font-size: 1.2rem;
    color: var(--bg-color);
}
/* END FOOTER */